<ion-header>
  <ion-toolbar>
    <ion-title>
      Skinnyfy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <p>calories for today:</p>
        <ion-progress-bar>
       
        </ion-progress-bar>
        <br>
        <ion-item-divider>
         </ion-item-divider>
         <p>Today:</p>
         <!--<p><img src="assets/tomato.svg"></p>-->
         <br>
         <ion-item-divider>
           </ion-item-divider>
         
      <ion-list></ion-list>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="dots"
          loadingText="Se incarca...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <div>
      <ion-button href="/camera-tab">
        <img src="assets/cameraGri.svg" height="42" width="42">
        <style>
            .button {
              border: none;
              position: absolute;
              top: 480px;
              right: 15px;
            }
            </style>
      </ion-button>
      </div>
      </div>

</ion-content>
 